<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"zeever/gutenverse-single-title"} /-->

<!-- wp:gutenverse/section {"width":{"Desktop":1170},"elementId":"guten-V3zHzh","background":{"type":"default","color":{"r":0,"g":0,"b":1,"a":1}},"margin":{"Desktop":[],"Mobile":[]},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"100"}},"Mobile":{"unit":"px","dimension":{"top":"40","bottom":"40","right":"10","left":"10"}}}} -->
<div class="section-wrapper" data-id="V3zHzh"><script>var topV3zHzh = {"Desktop":{"point":"0","unit":"px"}};var bottomV3zHzh = {"Desktop":{"point":"0","unit":"px"}};</script><section class="wp-block-gutenverse-section guten-element guten-section guten-V3zHzh layout-boxed align-stretch"><div class="guten-background-overlay"></div><div class="guten-shape-divider guten-shape-divider-top"></div><div class="guten-shape-divider guten-shape-divider-bottom"></div><div class="guten-container guten-column-gap-default"><!-- wp:gutenverse/column {"width":{"Desktop":21.59,"Mobile":null},"elementId":"guten-3574LG","order":{"Mobile":2}} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-3574LG"><div class="guten-background-overlay"></div><div class="sticky-wrapper" data-id="3574LG"><script>var top3574LG = {"Desktop":{"point":"0","unit":"px"}};var bottom3574LG = {"Desktop":{"point":"0","unit":"px"}};</script><div class="guten-column-wrapper"><!-- wp:gutenverse/section {"isChild":true,"gap":"no","elementId":"guten-2I2oj1","margin":{"Desktop":{"unit":"px","dimension":{"top":"","bottom":"","right":"","left":""}}},"padding":{"Desktop":[]}} -->
<div class="section-wrapper" data-id="2I2oj1"><script>var top2I2oj1 = {"Desktop":{"point":"0","unit":"px"}};var bottom2I2oj1 = {"Desktop":{"point":"0","unit":"px"}};</script><section class="wp-block-gutenverse-section guten-element guten-section guten-2I2oj1 layout-boxed align-stretch"><div class="guten-background-overlay"></div><div class="guten-shape-divider guten-shape-divider-top"></div><div class="guten-shape-divider guten-shape-divider-bottom"></div><div class="guten-container guten-column-gap-no"><!-- wp:gutenverse/column {"width":{"Desktop":100,"Mobile":null},"elementId":"guten-qoKB4y","horizontalAlign":{"Desktop":"default","Mobile":"center"}} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-qoKB4y"><div class="guten-background-overlay"></div><div class="sticky-wrapper" data-id="qoKB4y"><script>var topqoKB4y = {"Desktop":{"point":"0","unit":"px"}};var bottomqoKB4y = {"Desktop":{"point":"0","unit":"px"}};</script><div class="guten-column-wrapper"><!-- wp:gutenverse/heading {"elementId":"guten-mZyLyd","textAlign":{"Mobile":"center"},"color":{"r":102,"g":252,"b":241,"a":1},"typography":{"font":{"label":"Heebo","value":"Heebo","type":"google"},"size":{"Desktop":{"point":"16","unit":"px"}},"transform":"uppercase","spacing":{"Desktop":"0.1"}}} -->
<h2 class="wp-block-gutenverse-heading guten-element guten-mZyLyd">Written By :</h2>
<!-- /wp:gutenverse/heading -->

<!-- wp:gutenverse/icon {"elementId":"guten-3iaLuc","icon":"fas fa-user-circle","iconColorOne":{"r":255,"g":255,"b":255,"a":0},"iconSize":{"Desktop":{"point":"16","unit":"px"}},"iconPadding":{"Desktop":"0"},"iconColorTwo":{"r":255,"g":255,"b":255,"a":1},"iconShape":"circle","margin":{"Desktop":{"unit":"px","dimension":{"right":"10"}}},"padding":{"Desktop":[]},"positioningType":{"Desktop":"inline"}} -->
<div class="wp-block-gutenverse-icon guten-element guten-3iaLuc guten-icon"><span class="guten-icon-wrapper circle stacked"><i class="fas fa-user-circle"></i></span></div>
<!-- /wp:gutenverse/icon -->

<!-- wp:gutenverse/post-author {"elementId":"guten-PvpO7I","alignment":{"Desktop":null},"typography":{"font":{"label":"Heebo","value":"Heebo","type":"google"},"size":{"Desktop":{"point":"14","unit":"px"}},"weight":"500","transform":"uppercase","spacing":{"Desktop":"0.1"}},"color":{"r":255,"g":255,"b":255,"a":1},"margin":{"Desktop":{"unit":"px","dimension":{"top":"-2"}}},"padding":{"Desktop":[]},"positioningType":{"Desktop":"inline"}} -->
<div class="guten-element guten-post-author guten-PvpO7I"></div>
<!-- /wp:gutenverse/post-author --></div></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:gutenverse/divider {"elementId":"guten-jBXkeU","width":{"Desktop":"60"},"dividerColor":{"r":47,"g":47,"b":47,"a":1},"size":{"Desktop":"1"},"gap":{"Desktop":"0"},"dividerAlign":{"Desktop":"left","Mobile":"center"},"margin":{"Desktop":{"unit":"px","dimension":{"top":"5","right":"","bottom":"5","left":""}}},"padding":{"Desktop":[]}} -->
<div class="wp-block-gutenverse-divider guten-element guten-divider guten-jBXkeU"><div class="guten-divider-wrapper"><div class="guten-divider-default guten-divider-line guten-divider-regular"></div></div></div>
<!-- /wp:gutenverse/divider -->

<!-- wp:gutenverse/section {"isChild":true,"gap":"no","elementId":"guten-u9TVp3","margin":{"Desktop":{"unit":"px","dimension":{"top":"","bottom":""}}},"padding":{"Desktop":[]}} -->
<div class="section-wrapper" data-id="u9TVp3"><script>var topu9TVp3 = {"Desktop":{"point":"0","unit":"px"}};var bottomu9TVp3 = {"Desktop":{"point":"0","unit":"px"}};</script><section class="wp-block-gutenverse-section guten-element guten-section guten-u9TVp3 layout-boxed align-stretch"><div class="guten-background-overlay"></div><div class="guten-shape-divider guten-shape-divider-top"></div><div class="guten-shape-divider guten-shape-divider-bottom"></div><div class="guten-container guten-column-gap-no"><!-- wp:gutenverse/column {"width":{"Desktop":100,"Mobile":null},"elementId":"guten-kbwSHT","horizontalAlign":{"Desktop":"default","Mobile":"center"}} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-kbwSHT"><div class="guten-background-overlay"></div><div class="sticky-wrapper" data-id="kbwSHT"><script>var topkbwSHT = {"Desktop":{"point":"0","unit":"px"}};var bottomkbwSHT = {"Desktop":{"point":"0","unit":"px"}};</script><div class="guten-column-wrapper"><!-- wp:gutenverse/heading {"elementId":"guten-XIlfJ6","textAlign":{"Mobile":"center"},"color":{"r":102,"g":252,"b":241,"a":1},"typography":{"font":{"label":"Heebo","value":"Heebo","type":"google"},"size":{"Desktop":{"point":"16","unit":"px"}},"transform":"uppercase","spacing":{"Desktop":"0.1"}}} -->
<h2 class="wp-block-gutenverse-heading guten-element guten-XIlfJ6">Category :</h2>
<!-- /wp:gutenverse/heading -->

<!-- wp:gutenverse/icon {"elementId":"guten-hu9VJR","icon":"gtn gtn-folder2-light","iconColorOne":{"r":255,"g":255,"b":255,"a":0},"iconSize":{"Desktop":{"point":"16","unit":"px"}},"iconPadding":{"Desktop":"0"},"iconColorTwo":{"r":255,"g":255,"b":255,"a":1},"iconShape":"circle","background":{"type":"default","color":{"r":255,"g":255,"b":255,"a":0}},"margin":{"Desktop":{"unit":"px","dimension":{"right":"10","left":"0"}}},"padding":{"Desktop":[]},"positioningType":{"Desktop":"inline"}} -->
<div class="wp-block-gutenverse-icon guten-element guten-hu9VJR guten-icon"><span class="guten-icon-wrapper circle stacked"><i class="gtn gtn-folder2-light"></i></span></div>
<!-- /wp:gutenverse/icon -->

<!-- wp:gutenverse/post-terms {"elementId":"guten-KQr2Dg","typography":{"font":{"label":"Heebo","value":"Heebo","type":"google"},"size":{"Desktop":{"point":"14","unit":"px"}},"weight":"500","transform":"uppercase","spacing":{"Desktop":"0.1"}},"color":{"r":255,"g":255,"b":255,"a":1},"margin":{"Desktop":{"unit":"px","dimension":{"left":"","top":"","right":"","bottom":""}}},"padding":{"Desktop":[]},"positioningType":{"Desktop":"inline"}} -->
<div class="guten-element guten-post-terms guten-KQr2Dg"></div>
<!-- /wp:gutenverse/post-terms --></div></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:gutenverse/divider {"elementId":"guten-VDaBuW","width":{"Desktop":"60"},"dividerColor":{"r":47,"g":47,"b":47,"a":1},"size":{"Desktop":"1"},"gap":{"Desktop":"0"},"dividerAlign":{"Desktop":"left","Mobile":"center"},"margin":{"Desktop":{"unit":"px","dimension":{"top":"5","right":"","bottom":"5","left":""}}},"padding":{"Desktop":[]}} -->
<div class="wp-block-gutenverse-divider guten-element guten-divider guten-VDaBuW"><div class="guten-divider-wrapper"><div class="guten-divider-default guten-divider-line guten-divider-regular"></div></div></div>
<!-- /wp:gutenverse/divider -->

<!-- wp:gutenverse/section {"isChild":true,"gap":"no","elementId":"guten-H4OamG","margin":{"Desktop":{"unit":"px","dimension":{"top":"","bottom":""}},"Mobile":[]},"padding":{"Desktop":[],"Mobile":[]}} -->
<div class="section-wrapper" data-id="H4OamG"><script>var topH4OamG = {"Desktop":{"point":"0","unit":"px"}};var bottomH4OamG = {"Desktop":{"point":"0","unit":"px"}};</script><section class="wp-block-gutenverse-section guten-element guten-section guten-H4OamG layout-boxed align-stretch"><div class="guten-background-overlay"></div><div class="guten-shape-divider guten-shape-divider-top"></div><div class="guten-shape-divider guten-shape-divider-bottom"></div><div class="guten-container guten-column-gap-no"><!-- wp:gutenverse/column {"width":{"Desktop":100,"Mobile":null},"elementId":"guten-xTspGM","horizontalAlign":{"Desktop":"default","Mobile":"center"}} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-xTspGM"><div class="guten-background-overlay"></div><div class="sticky-wrapper" data-id="xTspGM"><script>var topxTspGM = {"Desktop":{"point":"0","unit":"px"}};var bottomxTspGM = {"Desktop":{"point":"0","unit":"px"}};</script><div class="guten-column-wrapper"><!-- wp:gutenverse/heading {"elementId":"guten-LjnTd0","textAlign":{"Mobile":"center"},"color":{"r":102,"g":252,"b":241,"a":1},"typography":{"font":{"label":"Heebo","value":"Heebo","type":"google"},"size":{"Desktop":{"point":"16","unit":"px"}},"transform":"uppercase","spacing":{"Desktop":"0.1"}}} -->
<h2 class="wp-block-gutenverse-heading guten-element guten-LjnTd0">Posted On :</h2>
<!-- /wp:gutenverse/heading -->

<!-- wp:gutenverse/icon {"elementId":"guten-uwfDu8","icon":"fas fa-calendar-alt","iconColorOne":{"r":255,"g":255,"b":255,"a":0},"iconSize":{"Desktop":{"point":"16","unit":"px"}},"iconPadding":{"Desktop":"0"},"iconColorTwo":{"r":255,"g":255,"b":255,"a":1},"iconShape":"circle","margin":{"Desktop":{"unit":"px","dimension":{"right":"10","left":"0"}}},"padding":{"Desktop":[]},"positioningType":{"Desktop":"inline"}} -->
<div class="wp-block-gutenverse-icon guten-element guten-uwfDu8 guten-icon"><span class="guten-icon-wrapper circle stacked"><i class="fas fa-calendar-alt"></i></span></div>
<!-- /wp:gutenverse/icon -->

<!-- wp:gutenverse/post-date {"elementId":"guten-6cEdHW","typography":{"font":{"label":"Heebo","value":"Heebo","type":"google"},"size":{"Desktop":{"point":"14","unit":"px"}},"weight":"500","transform":"uppercase","spacing":{"Desktop":"0.1"}},"color":{"r":255,"g":255,"b":255,"a":1},"margin":{"Desktop":{"unit":"px","dimension":{"right":"","left":""}}},"padding":{"Desktop":[]},"positioningType":{"Desktop":"inline"}} -->
<div class="guten-element guten-post-date guten-6cEdHW"></div>
<!-- /wp:gutenverse/post-date --></div></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:gutenverse/divider {"elementId":"guten-vV5QNG","width":{"Desktop":"60"},"dividerColor":{"r":47,"g":47,"b":47,"a":1},"size":{"Desktop":"1"},"gap":{"Desktop":"0"},"dividerAlign":{"Desktop":"left","Mobile":"center"},"margin":{"Desktop":{"unit":"px","dimension":{"top":"5","right":"","bottom":"5","left":""}}},"padding":{"Desktop":[]}} -->
<div class="wp-block-gutenverse-divider guten-element guten-divider guten-vV5QNG"><div class="guten-divider-wrapper"><div class="guten-divider-default guten-divider-line guten-divider-regular"></div></div></div>
<!-- /wp:gutenverse/divider -->

<!-- wp:gutenverse/heading {"elementId":"guten-ksbbtN","textAlign":{"Mobile":"center"},"color":{"r":102,"g":252,"b":241,"a":1},"typography":{"font":{"label":"Heebo","value":"Heebo","type":"google"},"size":{"Desktop":{"point":"16","unit":"px"}},"transform":"uppercase","spacing":{"Desktop":"0.1"}}} -->
<h2 class="wp-block-gutenverse-heading guten-element guten-ksbbtN">Share This :</h2>
<!-- /wp:gutenverse/heading -->

<!-- wp:gutenverse/social-share {"elementId":"guten-vwJKYn","iconPading":{"Desktop":{"unit":"px","dimension":{"top":"0","right":"0","bottom":"0","left":"0"}}},"textPading":{"Desktop":[]},"iconColor":{"r":255,"g":255,"b":255,"a":1},"iconBackgroundColor":{"r":255,"g":255,"b":255,"a":0},"borderType":{"radius":{"Desktop":[]}},"iconColorHover":{"r":102,"g":252,"b":241,"a":1},"borderTypeHover":{"radius":{"Desktop":[],"Mobile":[]}},"iconSize":{"Desktop":{"point":"16","unit":"px"}},"alignment":{"Desktop":"flex-start","Mobile":"center"},"gap":{"Desktop":"20"}} -->
<div class="guten-element guten-social-share guten-vwJKYn guten-social-share"><!-- wp:gutenverse/social-share-facebook {"elementId":"guten-uZAGiP","showText":false} /-->

<!-- wp:gutenverse/social-share-twitter {"elementId":"guten-uqhzN4","showText":false} /-->

<!-- wp:gutenverse/social-share-whatsapp {"elementId":"guten-88Tzih","showText":false} /--></div>
<!-- /wp:gutenverse/social-share --></div></div></div>
<!-- /wp:gutenverse/column -->

<!-- wp:gutenverse/column {"width":{"Desktop":78.4,"Mobile":null},"elementId":"guten-THwtWI"} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-THwtWI"><div class="guten-background-overlay"></div><div class="sticky-wrapper" data-id="THwtWI"><script>var topTHwtWI = {"Desktop":{"point":"0","unit":"px"}};var bottomTHwtWI = {"Desktop":{"point":"0","unit":"px"}};</script><div class="guten-column-wrapper"><!-- wp:gutenverse/post-featured-image {"elementId":"guten-3Gq9IU","imageBorder":{"radius":{"Desktop":{"unit":"px","dimension":{"top":"0","right":"0","bottom":"0","left":"0"}}}}} -->
<div class="guten-element guten-post-featured-image guten-3Gq9IU"></div>
<!-- /wp:gutenverse/post-featured-image -->

<!-- wp:gutenverse/post-content {"elementId":"guten-r2Bw6P","margin":{"Desktop":{"unit":"px","dimension":{"top":"40"}},"Mobile":{"unit":"px","dimension":{"top":"20"}}},"padding":{"Desktop":{},"Mobile":{}}} -->
<div class="guten-element guten-post-content guten-r2Bw6P"></div>
<!-- /wp:gutenverse/post-content --></div></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->